body{
    background-color: #91B6BE;
}

h1{
    display: none;
}

.botton{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container{
    display: flex;
    padding: 50px;
}

.side_collum{
    display: flex;
    flex-direction: column;
}

.header{
    border: 1px white solid;
    margin: auto;
    display: flex;
    height: 500;
    width: 80%;
}

.post{
    border: 1px white solid;
}

.resume{
    border: 1px white solid;
}

.wishlist{
    border: 1px white solid;
}

footer{
    border: 1px white solid;
}